
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mega Dropdown | CodyHouse</title>
    <link href="~/assets/client/menudropdown/css/resetMenu.css" rel="stylesheet" />
    <link href="~/assets/client/menudropdown/css/styleMenu.css" rel="stylesheet" />
    <script src="~/assets/client/menudropdown/js/modernizr.js"></script>
</head>
<body>

        <div class="cd-dropdown-wrapper">
            <nav class="cd-dropdown dropdown-is-active">
                <ul class="cd-dropdown-content">
                    <li>
                        <form class="cd-search">
                            <input type="search" placeholder="Search...">
                        </form>
                    </li>
                    <li class="has-children">
                        <a href="http://codyhouse.co/?p=748">Điện Thoại</a>

                        <ul class="cd-secondary-dropdown is-hidden">
                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748">Iphone</a>
                                <ul class="is-hidden">
                                    <li class="has-children">
                                        <a href="#0">Iphone 7</a>
                                        <ul class="is-hidden">
                                            <li class="go-back"><a href="#0">Iphone</a></li>
                                            <li class="see-all"><a href="http://codyhouse.co/?p=748">All Benies</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Iphone Hàng Xách Tay</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Hàng TGDĐ</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="http://codyhouse.co/?p=748">Iphone 5 Hàng Cũ</a></li>
                                </ul>
                            </li>

                            <li class="has-children">
                                <a href="http://codyhouse.co/?p=748">Bottoms</a>

                                <ul class="is-hidden">
                                    <li class="go-back"><a href="#0">Clothing</a></li>
                                    <li class="see-all"><a href="http://codyhouse.co/?p=748">All Bottoms</a></li>
                                    <li><a href="http://codyhouse.co/?p=748">Casual Trousers</a></li>
                                    <li class="has-children">
                                        <a href="#0">Jeans</a>

                                        <ul class="is-hidden">
                                            <li class="go-back"><a href="#0">Bottoms</a></li>
                                            <li class="see-all"><a href="http://codyhouse.co/?p=748">All Jeans</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Ripped</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Skinny</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Slim</a></li>
                                            <li><a href="http://codyhouse.co/?p=748">Straight</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#0">Leggings</a></li>
                                    <li><a href="#0">Shorts</a></li>
                                </ul>
                            </li>
                        </ul> <!-- .cd-secondary-dropdown -->
                    </li> <!-- .has-children -->
                    <li><a href="http://codyhouse.co/?p=748">Page 1</a></li>
                </ul> <!-- .cd-dropdown-content -->
            </nav> <!-- .cd-dropdown -->
        </div> <!-- .cd-dropdown-wrapper -->



    <main class="cd-main-content">
        <!-- your content here -->
    </main>
    <script src="~/assets/client/menudropdown/js/jquery-2.1.1.js"></script>
    <script src="~/assets/client/menudropdown/js/jquery.menu-aim.js"></script>
    <script src="~/assets/client/menudropdown/js/main.js"></script>
</body>
</html>
